/* General styles */
body {
    font-family: 'Raleway', sans-serif;
}

a, a:hover {
    color: #e38f42;
}

p {
    color: #888;
}

.btn {
    padding: 15px 20px;
}

.btn-orange, .btn-orange:hover {
    color: #fff;
    background-color: #e38f42;
}

.btn-gray, .btn-gray:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
}

section, footer {
    padding: 120px 0;
}

iframe {
    height: 100%;
    width: 100%;
}

/* Navigation */
.navbar {
    background-color: #444;
}

.navbar .navbar-brand,
.navbar .navbar-brand:visited,
.navbar .nav-item .nav-link,
.navbar .nav-item .nav-link:visited {
    color: #c2c2c2;
}

.navbar .navbar-brand:hover, .navbar .nav-item .nav-link:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #fff;   
}

/* Join Us */
.join-us {
    background-image: url(../img/form-background.jpg);
    background-size: cover;
}

.join-us form {
    background-color: rgba(0, 0, 0, 0.3);
}

.join-us form header {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 25px;
    margin: 0;
}

.join-us form header p {
    margin: 0;
}

.join-us form header h2 {
   color: #fff;
}

.join-us form header i {
    font-size: 3.7em;
    color: #888;
}

.join-us form fieldset {
    padding: 25px;
}

.join-us form input, .join-us form textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 15px 20px;
    border-radius: 4px;
}

.join-us .content-holder {
    padding-top: 120px;
}

.join-us .content-holder h1 {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
}

.join-us .content-holder p {
    color: #fff;
    font-size: 18px;
}

.join-us .content-holder i {
    margin-left: 5px;
}

.join-us .content-holder a {
    margin: 10px;
}


/* Footer */
footer p {
    padding: 10px;
}


/* Responsive */
@media (max-width: 768px) {
    .video-holder {
        margin-bottom: 40px;
    }
    
    footer {
        padding-top: 0;
    }
}


